<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>
    <meta name="author" content="Pablo Rosales" />
    <link rel="stylesheet" href="/assets/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/bootstrap-responsive.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <script type="text/javascript" src="/assets/js/bootstrap.js"></script>
</head>
<body>
    {% include navbar.html %}

